@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');

 body {
         padding: 5rem;
         background: #cadbc2;
         overflow-x: hidden;
         font-family: 'Ubuntu', sans-serif;
 }

 img {
         width: 150px;
         height: 150px;
 }

 .head {
         display: flex;
         flex-direction: column;
         align-items: center;
         color: #367D43;
 }
 .head h1{
         font-size: 3rem;
 }
 .head h3 {
         color: rgb(121, 121, 121);
 }

 .help-block {
         color: rgba(255, 0, 0, 0.452);
 }

 label {
         font-size: larger;
         font-weight: 800;
         color: #367D43;
 }

 div.btn {
         display: flex;
         justify-content: space-between;
 }

 button {
         display: block;
         box-shadow: 5px 5px 10px -3px rgba(135, 135, 138, 1);
         border: none;
         font-size: larger;
         font-weight: 600;
         padding: 0.5rem;
         padding-left: 2rem;
         padding-right: 2rem;
         background-color: rgb(54 125 67);
         border-radius: 5px;
         margin-top: 2rem;
 }

 #submitBtn {
         color: #cadbc2;;
 }
 #submitBtn:hover{
         color: white;
 }

 #logout {
         color: #cadbc2;;
 }
 #logout:hover {
         color: white;
         cursor: pointer;
 }

 @media (max-width: 512px){
        div.btn {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                }
        img {
                max-width: 100%;
                max-height: 100%;
        }
        body{
                padding: 3px;
        }
 }
 