<%- include('partials/header') -%>

<style>
        section{
                max-width: 1000px;
                text-align: justify;
                margin: auto;
        }
        h1{
                color: #367D43;
                font-size: 2.5rem
        }
        h2{
                color: rgb(88, 88, 88);
        }
        ul{
                font-size: large;
        }
        p{
                font-size: large;
        }
</style>

<section>
        <h1>Karpagam Academy of Higher Education (KAHE)</h1>
        <p>
                Karpagam Academy of Higher Education (KAHE) established under Section 3 of UGC Act 1956 is approved by Ministry of Human
                Resource Development, Government of India. Dr. R. Vasanthakumar, the president of Karpagam Charity trust (KCT),
                philanthropist, industrialist, entrepreneur and culture promoter.
                <br>
                Contemporary infrastructure, modern teaching methodologies, career oriented training, excellent placements and the
                finest faculty have always become the Karpagam’s hallmark. Besides technical expertise, Karpagam Academy of Higher
                Education (KAHE) has made a mark since its inception by developing communication and soft skills, ensuring enlightening
                knowledge, extending holistic education and creating a strong value system. Today, with strength of 6500 students and
                over 750 teaching & non-teaching staff, Karpagam Academy of Higher Education is setting new benchmarks in the
                educational sphere.
        </p>
        <h1>Merits of Karpagam</h1>
        <h2>Karpagam strives to offer a package of value added benefits that are tailored to nurture the educational experience of
        the students:</h2>
        <ul>
                <li>Well experienced and trained faculty including 108 doctorates and Post Doctoral Fellows</li>
                <li>Visiting faculty from premier institutes like IIM , IISc , IIT, NIT etc..,</li>
                <li>A professional placement department enduring training for overall personality development of students.</li>
                <li>908 above placement offers were made for 2018-19 Batch</li>
                <li>A vibrant Karpagam Research Centre marching towards fruition of innovations and patents.59 patents were filed and 16
                patents are granted. 2 of the granted patents are being commercialized.</li>
                <li>No.of Copyrights 18 filed 16 registered</li>
                <li>Scope to work on projects funded by government & other agencies</li>
                <li>Industrial MoUs and career oriented courses for enhancing employability</li>
                <li>Exchange & Twinning programme with global universities for International exposure</li>
                <li>Highly vibrant and encouraging academic ambience aiding an enriched education.</li>
                <li>State of the art laboratories and Wi-fi enabled campus with 1Gbps internet connectivity.</li>
        </ul>

        <h1>Recognition</h1>
        <ul>
                <li>Deemed to be University – Under Section 3 of UGC Act, 1956.</li>
                <li</li>
                <li>Approved by UGC-AICTE, New Delhi</li>
                <li>Approved by Council of Architecture, New Delhi</li>
                <li>Approved by Pharmacy Council of India (PCI), New Delhi</li>
                <li>Accredited by NAAC</li>
        </ul>

</section>



<%- include("partials/footer") -%>