<%- include('partials/header') -%>

        <br>
        <br>
        <div class="virtuallab_container">
            <div class="item-left">
        
                <div class="dropdown">
                    <button class="dropbtn">Biotechnology
                    </button>
                    <div class="dropdown-content">
                        <a href="/admin/virtual-lab/biotechnology/first-year">First Year</a>
                        <a href="/admin/virtual-lab/biotechnology/second-year">Second Year</a>
                        <a href="/admin/virtual-lab/biotechnology/third-year">Third Year</a>
                    </div>
                </div>
        
                <div class="dropdown">
                    <button class="dropbtn">Physics
                    </button>
                    <div class="dropdown-content">
                        <a href="/admin/virtual-lab/physics/first-year">First Year</a>
                        <a href="/admin/virtual-lab/physics/second-year">Second Year</a>
                        <a href="/admin/virtual-lab/physics/third-year">Third Year</a>
                    </div>
                </div>
        
                <div class="dropdown">
                    <button class="dropbtn">Mathematics
                    </button>
                    <div class="dropdown-content">
                        <a href="/admin/virtual-lab/mathematics/first-year">First Year</a>
                        <a href="/admin/virtual-lab/mathematics/second-year">Second Year</a>
                        <a href="/admin/virtual-lab/mathematics/third-year">Third Year</a>
                    </div>
                </div>
        
                <div class="dropdown">
                    <button class="dropbtn">Cybersecurity
                    </button>
                    <div class="dropdown-content">
                        <a href="/admin/virtual-lab/cybersecurity/first-year">First Year</a>
                        <a href="/admin/virtual-lab/cybersecurity/second-year">Second Year</a>
                        <a href="/admin/virtual-lab/cybersecurity/third-year">Third Year</a>
                    </div>
                </div>
        
                <div class="dropdown">
                    <button class="dropbtn">Computer Science
                    </button>
                    <div class="dropdown-content">
                        <a href="/admin/virtual-lab/computer-science/first-year">First Year</a>
                        <a href="/admin/virtual-lab/computer-science/second-year">Second Year</a>
                        <a href="/admin/virtual-lab/computer-science/third-year">Third Year</a>
                    </div>
                </div>
        
                <div class="dropdown">
                    <button class="dropbtn">Chemistry
                    </button>
                    <div class="dropdown-content">
                        <a href="/admin/virtual-lab/chemistry/first-year">First Year</a>
                        <a href="/admin/virtual-lab/chemistry/second-year">Second Year</a>
                        <a href="/admin/virtual-lab/chemistry/third-year">Third Year</a>
                    </div>
                </div>
        
            </div>
            <div class="item-right">
                <img src="\images\virtualLab\virtualLab.svg" alt="KAHE" srcset="">
            </div>
        </div>
        <br>


    <%- include("partials/footer") -%>