<%- include("partials/header"); -%>

    <!-- !--- SECTION 1 --- -->
    <section id="section1">
        <div id="section1_container">
            <div class="tagLine">
                <h1>
                    The global leader
                    in virtual lab
                    solutions for
                    the education
                    sector - "Karpagam Academy of Higher Education".
                </h1>
            </div>
            <div class="tagLineImg">
                <button class="loginBtn" onclick="location.href = '/student_login';">Student Login</button>
                <img src="\images\HOME\tagLineImg.svg" alt="KAHE" srcset="">
            </div>
        </div>
    </section>



    <!-- !--- SECTION 2 --- -->
    <section class="section2">
        <div class="section2_container">
            <div class="img_left">
                <img src="\images\HOME\section2.svg" alt="KAHE" srcset="">
                <button onclick="location.href = '/student_login';">Student Login</button>
            </div>
            <div class="text_right">
                <div id="upLeft_box" class="box"></div>
                <div id="text_box">
                    <p>
                        Virtual Lab at Krpagam Intelligent development of virtual laboratories with state-of-the-art
                        computer simulation
                        technology to create real world environments and problem handling capabilities is required to
                        bridge
                        the gap between
                        institutions (or industries) that retain the physical laboratory and distantly placed
                        economically
                        challenged
                        educational institutions.
                    </p>
                </div>
                <div id="downRight_box" class="box"></div>
            </div>
        </div>
    </section>



    <!-- !--- SECTION 3 --- -->
    <section class="section3">
        <div class="section3_container ">
            <div class="text">
                <h1 onclick="location.href = '/home/biotechnology';">
                    Biotechnology
                </h1>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna
                    aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                    commodo consequat. Duis
                </p>
            </div>
            <div class="img">
                <img src="\images\HOME\Biotechnology.svg" alt="" srcset="">
            </div>
        </div>
        <div class="section3_container wrap_reverce_column">
            <div class="img">
                <img src="\images\HOME\chemistry.svg" alt="" srcset="">
            </div>
            <div class="text">
                <h1 onclick="location.href = '/home/chemistry';">
                    Chemistry
                </h1>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna
                    aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                    commodo consequat. Duis
                </p>
            </div>
        </div>
        <div class="section3_container">
            <div class="text">
                <h1 onclick="location.href = '/home/computerscience';">
                    Computer Science
                </h1>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et
                    dolore magna
                    aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                    commodo
                    consequat. Duis
                </p>
            </div>
            <div class="img">
                <img src="\images\HOME\cs.svg" alt="" srcset="">
            </div>
        </div>
        <div class="section3_container wrap_reverce_column">
            <div class="img">
                <img src="\images\HOME\mechanical.svg" alt="" srcset="">
            </div>
            <div class="text">
                <h1 onclick="location.href = '/home/mathematics';">
                    Mathematics
                </h1>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et
                    dolore magna
                    aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                    commodo
                    consequat. Duis
                </p>
            </div>
        </div>
        <div class="section3_container">
            <div class="text">
                <h1 onclick="location.href = '/home/physics';">
                    Physics
                </h1>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et
                    dolore magna
                    aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                    commodo
                    consequat. Duis
                    occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
            </div>
            <div class="img">
                <img src="\images\HOME\physics.svg" alt="" srcset="">
            </div>
        </div>
        <div class="section3_container wrap_reverce_column">
            <div class="img">
                <img src="\images\HOME\CyberSecurity.svg" alt="" srcset="">
            </div>
            <div class="text">
                <h1 onclick="location.href = '/home/cybersecurity';">
                    Cyber Security
                </h1>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et
                    dolore magna
                    aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                    commodo
                    consequat. Duis
                </p>
            </div>
        </div>
    </section>


    <%- include("partials/footer"); -%>