<%- include('partials/header') -%>


    <section class="virtualLab" style="text-align: justify;">
        <!-- <div class="virtualLab_text">
            <h2>
                Flexbox is a way to layout elements to accommodate different screen sizes. Flexbox does not rely on
                floats
                and margins,
                and the flex container's margins don't collapse with the margins of its contents. Note that some
                browsers
                need prefixes
                to use these features.
            </h2>
        </div> -->
        <div class="virtuallab_container">
            <div class="item-left">
            
                <div class="dropdown">
                    <button class="dropbtn">Biotechnology
                    </button>
                    <div class="dropdown-content">
                        <a href="/home/virtual-lab/biotechnology/first-year">First Year</a>
                        <a href="/home/virtual-lab/biotechnology/second-year">Second Year</a>
                        <a href="/home/virtual-lab/biotechnology/third-year">Third Year</a>
                    </div>
                </div>
                
                <div class="dropdown">
                    <button class="dropbtn">Physics
                    </button>
                    <div class="dropdown-content">
                        <a href="/home/virtual-lab/physics/first-year">First Year</a>
                        <a href="/home/virtual-lab/physics/second-year">Second Year</a>
                        <a href="/home/virtual-lab/physics/third-year">Third Year</a>
                    </div>
                </div>
                
                <div class="dropdown">
                    <button class="dropbtn">Mathematics
                    </button>
                    <div class="dropdown-content">
                        <a href="/home/virtual-lab/mathematics/first-year">First Year</a>
                        <a href="/home/virtual-lab/mathematics/second-year">Second Year</a>
                        <a href="/home/virtual-lab/mathematics/third-year">Third Year</a>
                    </div>
                </div>
                
                <div class="dropdown">
                    <button class="dropbtn">Cybersecurity
                    </button>
                    <div class="dropdown-content">
                        <a href="/home/virtual-lab/cybersecurity/first-year">First Year</a>
                        <a href="/home/virtual-lab/cybersecurity/second-year">Second Year</a>
                        <a href="/home/virtual-lab/cybersecurity/third-year">Third Year</a>
                    </div>
                </div>
                
                <div class="dropdown">
                    <button class="dropbtn">Computer Science
                    </button>
                    <div class="dropdown-content">
                        <a href="/home/virtual-lab/computer-science/first-year">First Year</a>
                        <a href="/home/virtual-lab/computer-science/second-year">Second Year</a>
                        <a href="/home/virtual-lab/computer-science/third-year">Third Year</a>
                    </div>
                </div>
                
                <div class="dropdown">
                    <button class="dropbtn">Chemistry
                    </button>
                    <div class="dropdown-content">
                        <a href="/home/virtual-lab/chemistry/first-year">First Year</a>
                        <a href="/home/virtual-lab/chemistry/second-year">Second Year</a>
                        <a href="/home/virtual-lab/chemistry/third-year">Third Year</a>
                    </div>
                </div>
            
            </div>
            <div class="item-right">
                <img src="\images\virtualLab\virtualLab.svg" alt="KAHE" srcset="">
            </div>
        </div>


        <button class="virtualLab_loging_btn">Student Login</button>
    </section>


    <%- include("partials/footer") -%>