<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/nevbar.css">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/departmentLab.css">
    <link rel="stylesheet" href="/css/virtualLab.css">


    <title>Document</title>
</head>

<body>
    <nav class="menu-container">
        <!-- burger menu -->
        <input type="checkbox" aria-label="Toggle menu" />
        <span></span>
        <span></span>
        <span></span>

        <!-- logo -->
        <a href="/home" class="menu-logo">
            <img src="/images/KAHE_logo.png" alt="KAHE" />
        </a>

        <!-- menu items -->
        <div class="menu">
            <ul>
            </ul>
            <ul>
                <li>
                    <a href="/home">
                        Home
                    </a>
                </li>
                <li>
                    <a href="/virtuallab">
                        Virtual Lab
                    </a>
                </li>
                <li>
                    <a href="#xyz">
                        About
                    </a>
                </li>
                <li>
                    <a href="#xyz">
                        Workshops
                    </a>
                </li>
                <li>
                    <a href="#xyz">
                        Projects
                    </a>
                </li>
                <li>
                    <a href="#xyz">
                        Login
                    </a>
                </li>
            </ul>
        </div>
    </nav>