<%- include("partials/header"); -%>


    <div class="box-form">
        <div class="left">
            <div class="overlay">
                <img src="images\studentLogin\studentlogin.svg" alt="KAHE" srcset="">
                <span>
                    <h2>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        sed do eiusmod tempor incididunt ut labore et
                        dolore magna
                        aliqua.
                    </h2>
                </span>

            </div>
        </div>



        <div class="right">
            <h5>Login</h5>
            <p>To login into the virtual lab, Please login with your college email id.</p>
            <form action="" method="post">
                <div class="inputs">
                    <input type="email" placeholder="XXabcXXX@kahedu.edu.in">
                    <br>
                    <input type="password" placeholder="password">
                </div>

                <br><br>

                <div class="remember-me">
                    <!-- Angular -->
                    <label>
                        <input type="checkbox" name="item">
                        <span class="text-checkbox">Remember me</span>
                    </label>
                </div>

                <br>
                <button type="submit">Login</button>
            </form>
        </div>

    </div>








    <%- include("partials/footer"); -%>