<%- include('partials/header') -%>


    <section class="virtualLab" style="text-align: justify;">
        <!-- <div class="virtualLab_text">
            <h2>
                Flexbox is a way to layout elements to accommodate different screen sizes. Flexbox does not rely on
                floats
                and margins,
                and the flex container's margins don't collapse with the margins of its contents. Note that some
                browsers
                need prefixes
                to use these features.
            </h2>
        </div> -->
        <div class="virtuallab_container">
            <div class="item-left">
                <h2><a href="/home/biotechnologylab">Biotechnology</a></h2>
                <h2><a href="/home/physicslab">Phycical Science</a></h2>
                <h2><a href="/home/mechanicallab">Mechanical Engineering</a></h2>
                <h2><a href="/home/cybersecuritylab">Cybersecurity</a></h2>
                <h2><a href="/home/computersciencelab">Computer Science</a></h2>
                <h2><a href="/home/chemistrylab">Chemistry</a></h2>
            </div>
            <div class="item-right">
                <img src="\images\virtualLab\virtualLab.svg" alt="KAHE" srcset="">
            </div>
        </div>


        <button class="virtualLab_loging_btn">Student Login</button>
    </section>


    <%- include("partials/footer") -%>