<!DOCTYPE html>
<html lang="en">

<head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
</head>

<body>
        <!-- CSS Code: Place this code in the document's head (between the 'head' tags) -->
        <style>
                @import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

                body {
                        padding: 5rem;
                        background: #cadbc2;
                        overflow-x: hidden;
                        font-family: 'Ubuntu', sans-serif;
                }

                img {
                        width: 150px;
                        height: 150px;
                }

                .head {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        color: #367D43;
                }

                .head h1 {
                        margin: 2px;
                        font-size: 3rem;
                }

                .head h3 {
                        color: rgb(121, 121, 121);
                }

                table.GeneratedTable {
                        width: 100%;
                        background-color: #ffffff;
                        border: none;
                        border-collapse: collapse;
                        color: #000000;
                }

                table.GeneratedTable td,
                table.GeneratedTable th {
                        border-width: 2px;
                        border-color: #367D43;
                        border-style: solid;
                        padding: 3px;
                }

                table.GeneratedTable thead {
                        background-color: #367D43;
                }

                @media (max-width: 512px) {

                        img {
                                max-width: 100%;
                                max-height: 100%;
                        }

                        body {
                                padding: 3px;
                        }
                }
        </style>

        <div class="head">
                <img src="\images\KAHE_logo.png" alt="" srcset="">
                <h1> <b>Karpagam Academy Of Higher Education</b> </h1>
                <h3>Create a new admin for virtual lab.</h3>
        </div>
        <br><br>

        <!-- HTML Code: Place this code in the document's body (between the 'body' tags) where the table should appear -->
        <table class="GeneratedTable">
                <thead>
                        <tr>
                                <th>DEPARTMENT</th>
                                <th>FACILITY NAME</th>
                                <th>ADMIN ID</th>
                                
                                <th style="background-color: #cadbc2; border-color: #cadbc2; margin: 0; padding: 0;"></th>
                        </tr>
                </thead>
                <tbody>
                        <% foundItems.forEach((element)=> { %>
                        <tr>
                                <td><%= element.Department %></td>
                                <td><%= element.facilityName %></td>
                                <td><%= element.adminID %></td>
                                
                                <td style="border-color: #cadbc2; background-color: #cadbc2"><a href="admin/<%=element._objectID%>/delete">delete</a></td>
                        </tr>
                        <% }); %>
                </tbody>
        </table>
        <!-- Codes by Quackit.com -->

</body>

</html>