<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Admin Login</title>

    <link rel="stylesheet" href="/css/superAdmin_css/super-admin-login.css">

</head>

<body>


    <!-- partial:index.partial.html -->
    <form action="/super-admin/login" method="post">
        <img src="\images\KAHE_logo.png" alt="" srcset="">
        <br><br>

        <div class="form-field">
            <input name="username" type="text" placeholder="Username" required />
        </div>

        <div class="form-field">
            <input name="password" type="password" placeholder="Password" required />
        </div>
        <div class="form-field">
            <button class="btn" type="submit">Log in</button>
        </div>
    </form>
    <!-- partial -->


</body>

</html>